.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 102px;
    padding-bottom: 139px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 120px;

    background-color: $color-beige-100;
  }
}

.effect__container {

  @media (min-width: $tablet-width) {
  padding-left: 300px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 500px;
  }
}

.effect__title {
  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__text {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $color-blue-600;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $color-red;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
