.effect {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 102px;
    padding-bottom: 139px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
    padding-bottom: 120px;
  }
}

.effect__title {
  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.effect__text {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $dark-blue;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 24px;
    color: $light-red;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
