.header {
  // background-image: url(../../img/index-desctop.png);
  background-image: url(/img/header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0px;
}


