@mixin label {
  font-size: 18px;
  line-height: 30px;
  color: $color-blue-600;
}

// @mixin label--blue {
//   font-size: 14px;
//   line-height: 30px;
//   color: $color-red;
//   text-transform: uppercase;
// }

@mixin input {
  font-size: 18px;
  line-height: 30px;

  &::placeholder {
    color: $color-blue-600;
    opacity: 1;
  }
}
