.photo {
  font-size: 14px;
  line-height: 24px;
  background-color: $color-beige-100;
}

.photo__wrapper {
  padding-top: 25px;
}

.photo__autor {
  margin: 0;
  padding: 0;

  font-weight: 700;
  color: $color-blue-600;
}

.photo__text {
  margin: 0;
  padding: 0;

  color: $color-blue-600;
}

.photo__time {
  margin: 0;
  padding: 0;

  font-weight: 300;
  color: $color-blue-600;
  text-transform: uppercase;
}

.photo__likes {
  margin: 0;
  padding: 0;

  color: $color-red;
}
