.price {
  color: $color-blue-600;
  background-color: $color-beige-100;

  padding-top: 140px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    padding-bottom: 98px;
  }
}

.price__table {
  background-color: $color-white;
  border-collapse: collapse;

  width: 300%;
  transform: translateX(-33.3%);

  @media (min-width: $tablet-width) {
    width: 100%;
    transform: none;
  }
}

.price__rate {
  background-color: $color-blue-600;
  color: $color-white;

  &:first-of-type {
    background-color: $color-beige-100;
  }
}

.price__value {
  &:first-of-type {
    font-weight: 700;
    font-size: 16px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
}

.price__value--bottom {
  font-weight: 300;
}

.price__field {
  font-size: 14px;
  line-height: 30px;
  color: $color-blue-600;

  border: 2px solid $color-beige-200;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__field--title,
.price__rate--title {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}

.price__text--off {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
