.range {
  background-color: red;
  width: 240px;
  height: 2px;

  @media (min-width: $tablet-width) {
    width: 202px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
