$tablet-width: 660px;
$desktop-width: 1200px;

$OpenSans: "Open Sans", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$light-red: #d22856;
$dark-blue: #283645;
$bg-blue: #1d2631;
$beige: #f2f2f2;
